/* General Styles */
body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
  color: #594b30;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#594b30;
  height: 1px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

header .logo {
  font-weight: bold;
  font-size: 24px;
  color: #797669;
}

header nav a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: normal; /* Default style for links */
  color: #797669;
}

header nav a.active {
  font-weight: bold; /* Bold style for the current page */
}

/* Banner Section */
.banner {
  background-color: #c1b9a8; /* Light taupe */
  text-align: center;
  padding: 80px 0;
  margin-bottom: 40px;
}

.banner h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  margin: 0;
}

h3 {
  margin-left: 10px;
}

/* Projects List Section */
.projects-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-item {
  display: flex;
  align-items: center;
}

.project-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.project-icon:hover {
  transform: scale(1.1);
}

.project-icon img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.project-details {
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-details h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #594b30;
  margin: 0px 0px 10px 10px;
}

.project-details p {
  font-size: 1rem;
  color: #666;
  margin: 0px 0px 0px 10px;
}
