html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.w3-serif{font-family:serif}.w3-sans-serif{font-family:sans-serif}.w3-cursive{font-family:cursive}.w3-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}

.top-nav{
    top:0;
    position:fixed;
    width:100%;
    z-index:1;
    overflow:hidden;
    display:inline-block;
    padding:8px 16px;
    border:none;
    display:block;
    outline:0;
    color:black;
    background-color:white;
    box-shadow: 1px 2px 10px black;
}

.nav-button {
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:black;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
}

.wrapper {
    margin-left:auto;
    margin-right:auto;
    max-width:1000px;
}

.bio {
    padding:12px 24px;
    width:49.99999%
}

.body-text {
    font-size: 18px;
}

.heading-text {
    text-align: center;
}

.content-section {
    padding-top:64px;
    padding-bottom:64px;
}

.image {
    max-width:100%;
    height:auto;
}

.picture {
    float:left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:40px;
}

@media(min-width:600px){.picture.shorten{width:50%}}

.project-box {
    background-color: #dce0dd;
    max-width: 100%;
    min-height: 400px;
    height:auto;
    margin-bottom:20px;
    margin-left:20px;
    margin-right:20px;
}

.button {
    background-color: #dce0dd;
    color: black;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-left:50px;
}